[requires]
python_version = "3.6"

[packages]
pygame = "*"
pytmx = "*"
pyscroll = "*"
pygame-menu = "*"
websockets = "*"
nest-asyncio = "*"
numpy = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"
mypy = "*"
black = "*"
isort = "*"

[pipenv]
allow_prereleases = true
