[requires]
python_version = "3.6"

[packages]
pygame = "*"
pytmx = "*"
pyscroll = "*"
pygame-menu = "*"
websockets = "*"
nest-asyncio = "*"
numpy = "*"
deepdiff = "*"
pgzero = "*"
pydantic = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"
mypy = "*"
black = "*"
isort = "*"
pydoc-markdown = "*"
mkdocs = "*"
flake8 = "*"

[pipenv]
allow_prereleases = true

[scripts]
run-mypy = "mypy pgz"
build-api-docs = "pydoc-markdown --build"
deploy-docs = "mkdocs gh-deploy -f build/docs/mkdocs.yml"
start-local-docs = "pydoc-markdown --server --open"
